* {
	margin: 0;
	padding: 0;
}

.avatarl3 {
   display: flex;
   justify-content: center;
}


.avatar {
 float:right;
 margin-top:20px;
}

#sv {
    height:1100px;
    width:720px;
    margin-left: auto;
    margin-right: auto;
    
}
.position_main{
	height: 260px;
}
.position_mainl2{
    height: 260px;
    display: flex;
}

.main_info {
 float: left;
 margin-top:20px;
}

.position_text {
 display: flex;
}

.position_text span{
font-weight: bold;
width:150px;
margin:7px 10px 7px 10px;
padding:0px;
}

.position_text p{
width: auto;
margin:7px 10px 7px 10px;
padding:0px;
}

.zf {
font-weight: bold;
}
.xx {
margin-top: 20px;
}

.position_info-skills {
    display: flex;
    justify-content: space-between;
}
.position_info-skillsl2 {
    display: flex;
    justify-content: space-between;
    border-bottom:0.5px solid #bfc3fc
}



.edu_exp_ach {
    width: auto;
} 
.edu_exp_achl2 {
    width: auto;
    border-right:0.1px solid #edeeff;
}
.skills {
    padding-right: 100px;
}

.l3 {
    display: flex;
    justify-content: center;
}

.infoskills {
    display: flex;
     justify-content: space-between;
}