* {
	margin: 0;
	padding: 0;
}

.avatar {
 float:right;
 margin-top:20px;
}

#sv {
    height:877px;
    width:720px;
    margin-left: auto;
    margin-right: auto;
    
}
.position_main{
	height: 260px;
}

.main_info {
 float: left;
 margin-top:20px;
}

.position_text {
 display: flex;
}

.position_text span{
font-weight: bold;
width:150px;
margin:7px 10px 7px 10px;
padding:0px;
}

.zf {
font-weight: bold;
}
.xx {
margin-top: 20px;
}