.upload-btn-wrapper {
   position: relative;
  overflow: hidden;
  display: inline-block;
}
h2{
  text-align: center;
}
#raz {
display: flex;
justify-content: space-around;
margin-top: 100px;
}

 .btn-1 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
} 

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
  background-size: contain;
}

.sv {
max-width: 500px;
max-height:  750px;
border-radius: 10px;
border: 2px;
}

.z {
  float:right !important;
}
.z1 {
   padding: 20px !important;
}
.ui-datepickerr-calendar {
   display: none;
}
.ui-datepickerr-month {
   display: none;
}
.ui-datepickerr-next,.ui-datepickerr-prev {
  display:none;
}

.x {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-weight: bold;
}