.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-1 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.sv {
max-width: 500px;
max-height:  750px;
border-radius: 10px;
border: 2px;
}

.z {
  float:right !important;
}
.z1 {
   padding: 20px !important;
}

h2{
  text-align: center;
}