.upload-btn-wrapper {
  position: relative;
 overflow: hidden;
 display: inline-block;
}
h2{
 text-align: center;
}
#raz {
display: flex;
justify-content: space-around;
margin-top: 100px;
}

.btn-1 {
 border: 2px solid gray;
 color: gray;
 background-color: white;
 padding: 8px 20px;
 border-radius: 8px;
 font-size: 20px;
 font-weight: bold;
} 

.upload-btn-wrapper input[type=file] {
 font-size: 100px;
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
}

::-webkit-calendar-picker-indicator {
 c0lor: transparent;
 opacity: 1;
 background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
 background-size: contain;
}

.sv {
max-width: 500px;
max-height:  750px;
border-radius: 10px;
border: 2px;
}

.z {
 float:right !important;
}
.z1 {
  padding: 20px !important;
}
.ui-datepickerr-calendar {
  display: none;
}
.ui-datepickerr-month {
  display: none;
}
.ui-datepickerr-next,.ui-datepickerr-prev {
 display:none;
}

.x {
 width: 700px;
 margin-left: auto;
 margin-right: auto;
}

label {
 font-weight: bold;
}

.vv{
 margin-top: 30px
}

.genPDF>a {
	position: absolute;
	top: 10%;
	right: 5%;
	width: 100px;
	text-align: center;
font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 16px 26px;
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#42aaff),
		to(#003366));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	display: inline-block;
	text-decoration: none;
}

.genPDF>a:hover {
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#0d5aa7);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#42aaff),
		to(#0d5aa7));
}

.genPDF>a:active {
background: -moz-linear-gradient(
		top,
		#003366 0%,
		#42aaff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#003366),
		to(#42aaff));
}

.btn {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.btn:active {
	position:relative;
	top:1px;
}

.posbtn {
   display: flex;
   align-items: center;
   justify-content: center;
}
label > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
  }
  label > input + div{ /* IMAGE STYLES */
	cursor:pointer;
	border:2px solid black;
  }
  label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
	border:4px solid green;
  }   